# Ignore node_modules directory
node_modules/

# Ignore npm's log files and debugging files
npm-debug.log
yarn-error.log

# Ignore local configuration files
.env


# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*
*.swp

# Ignore package-lock.json or yarn.lock
package-lock.json
yarn.lock
